<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lpuniv.dayoung.user.login.dao.LoginDao">
    <insert id="insertUser" parameterType="com.project.lpuniv.dayoung.user.login.dto.UserDto">

        INSERT INTO EMP (user_no, user_passwd, user_nm, user_brdt, user_email, user_tel, user_signdate, user_tp,user_loginId)
        VALUES (#{user_no}, #{user_passwd}, #{user_nm}, #{user_brdt}, #{user_email}, #{user_tel}, now()
        ,#{user_tp}, #{user_loginId})
    </insert>
    <select id="checkId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM emp
        WHERE user_loginID = #{user_loginID}
    </select>


    <select id="selectById" resultType="com.project.lpuniv.dayoung.user.login.dto.UserDto">
        select * from user where user_loginId = #{user_loginId}
    </select>
    <select id="loginById" resultType="com.project.lpuniv.dayoung.user.login.dto.UserDto">
        select user_loginId from user where user_loginId = #{user_loginId}
    </select>

    <select id="loginByPw" resultType="com.project.lpuniv.dayoung.user.login.dto.UserDto">
        select user_passwd from user where user_loginId = #{user_loginId}
    </select>


    <select id="TypeById" resultType="Integer">
        select user_tp from user where user_loginId = #{user_loginId}
    </select>

</mapper>
